<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Watashi no Anime</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic"
        rel="stylesheet">

    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-danger" href="/">Watashi no Anime</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto float-right">



                <li class="nav-item">
                    <a class="nav-link text-danger" value="animes" id="getAnimes" href="anime.html">Anime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="profile.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#">Favourites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="character.html">Character</a>
                </li>

            </ul>
        </div>

    </nav>
    <div class="container-fluid justify-content-center" id="container-favourite-anime">
        <div class="row mt-5">
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title1">
                        One piece
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img src="../../css/images/one-piece.jpg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">

                            <p id="author1">Author: Eichiro Oda</p>
                        </div>

                        <div class="col">
                            <P id="start-year1">Year of creation: 1997</P>
                        </div>

                        <div class="col">


                            <label for="select-city">Chose character:</label> <select id="select-character1"
                                class="custom-select">
                                <option value="Monkey D. Luffy">Monkey D. Luffy</option>
                                <option value="Roronoa Zoro">Roronoa Zoro</option>
                                <option value="Nami">Nami</option>
                                <option value="Usopp">Usopp</option>
                                <option value="Vinsmoke Sanji">Vinsmoke Sanji</option>
                                <option value="Tony Tony Chopper">Tony Tony Chopper</option>
                                <option value="Nico Robin">Nico Robin</option>
                                <option value="Franky">Franky</option>
                                <option value="Brook">Brook</option>
                                <option value="Jimbei">Jimbei</option>

                            </select>

                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-one-piece">Add to favourite</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title2">
                        Naruto Shippuuden
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img src="../../css/images/P5904.jpg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author2"> Author: Masashi Kishimoto</p>
                        </div>

                        <div class="col">
                            <P id="start-year2">Year of creation: 1999</P>
                        </div>

                        <div class="col">


                            <label for="select-city">Chose character:</label> <select id="select-character2"
                                class="custom-select">
                                <option value="Naruto Uzumaki">Naruto Uzumaki</option>
                                <option value="Sasuke Uchiha">Sasuke Uchiha</option>
                                <option value="Sakura Haruno">Sakura Haruno</option>
                                <option value="Kakashi Hatake">Kakashi Hatake</option>
                                <option value="Hinata Hyuga">Hinata Hyuga</option>
                                <option value="Shikamaru Nara">Shikamaru Nara</option>
                                <option value="Rock Lee">Rock Lee</option>
                                <option value="Might Guy">Might Guy</option>
                                <option value="Gaara">Gaara</option>
                                <option value="Jiraiya">Jiraiya</option>
                                <option value="Madara Uchiha">Madara Uchiha</option>
                                <option value="Itachi Uchiha">Itachi Uchiha</option>
                            </select>

                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-naruto">Add to favourite</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title3">
                        Fairy tail
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img src="../../css/images/91-fiTNFIQL._RI_.jpg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author3">Author: Hiro Mashima</p>
                        </div>

                        <div class="col">
                            <p id="start-year3">Year of creation: 2006</p>
                        </div>

                        <div class="col">


                            <label for="select-city">Chose character:</label> <select id="select-character3"
                                class="custom-select">
                                <option value="Natsu Dragneel">Natsu Dragneel</option>
                                <option value="Lucy Heartfilia">Lucy Heartfilia</option>
                                <option value="Happy">Happy</option>
                                <option value="Gray Fullbuster">Gray Fullbuster</option>
                                <option value="Erza Scarlet">Erza Scarlet</option>
                                <option value="Wendy Marvell">Wendy Marvell</option>
                                <option value="Carla">Carla</option>
                                <option value="Zeref">Zeref</option>
                                <option value="Mavis Vermillion">Mavis Vermillion</option>
                                <option value="Makarov Dreyar">Makarov Dreyar</option>

                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-fairy-tail">Add to favourite</a>
                    </div>
                </div>
            </div>



        </div>


        <div class="row mt-2">
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title4">
                        Boku no hero academia
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img src="../../css/images/boku_no_marvel.jpg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author4">Author: Kōhei Horikoshi</p>
                        </div>

                        <div class="col">
                            <p id="start-year4">Year of publish: 2014</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character4"
                                class="custom-select">
                                <option value="Izuku Midoriya">Izuku Midoriya</option>
                                <option value="Katsuki Bakugo">Katsuki Bakugo</option>
                                <option value="Ochaco Uraraka">Ochaco Uraraka</option>
                                <option value="Tenya Iida">Tenya Iida</option>
                                <option value="Shoto Todoroki">Shoto Todoroki</option>
                                <option value="Tsuyu Asui">Tsuyu Asui</option>
                                <option value="Mirio Togata">Mirio Togata</option>
                                <option value="Tamaki Amajiki">Tamaki Amajiki</option>
                                <option value="Nejire Hado">Nejire Hado</option>
                                <option value="Toshinori Yagi">Toshinori Yagi</option>
                                <option value="Shōta Aizawa">Shōta Aizawa</option>

                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-boku-no-hero">Add to favourite</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title5">
                        One punch man
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img
                                src="../../css/images/463e0e9d691b7d1c222222945366666ecfdb0.jpg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author5">Author: Yusuke Murata</p>
                        </div>

                        <div class="col">
                            <p id="start-year5">Year of publish: 2012</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character5"
                                class="custom-select">
                                <option value="Saitama">Saitama</option>
                                <option value="Genos">Genos</option>
                                <option value="Tatsumaki">Tatsumaki</option>
                                <option value="Bang">Bang</option>
                                <option value="King">King</option>
                                <option value="Blast">Blast</option>
                                <option value="Atomic samurai">Atomic samurai</option>
                                <option value="Pig God">Pig God</option>
                                <option value="Metal knight">Metal knight</option>
                                <option value="Watchdog man">Watchdog man</option>

                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-one-punch">Add to favourite</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title6">
                        Nanatsu no taizai
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img src="../../css/images/Unjust_Sin_3DS_-_Box_Art.png"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author6">Author: Nakaba Suzuki</p>
                        </div>

                        <div class="col">
                            <p id="start-year6">Year of publish: 2012</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character6"
                                class="custom-select">
                                <option value="Meliodas">Meliodas</option>
                                <option value="Ban">Ban</option>
                                <option value="Elizabeth Liones">Elizabeth Liones</option>
                                <option value="Hawk">Hawk</option>
                                <option value="Diane">Diane</option>
                                <option value="King(Elfs)">King(Elfs)</option>
                                <option value="Gowther">Gowther</option>
                                <option value="Merlin">Merlin</option>
                                <option value="Escanor">Escanor</option>


                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-nanatsu-no-taizai">Add to favourite</a>
                    </div>
                </div>
            </div>



        </div>

        <div class="row mt-2">
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title7">
                        Hunter x Hunter
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img
                                src="../../css/images/Hunter-x-Hunter-Greed-Adventure-Ends-Service-Siliconera.jpg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author7">Author: Yoshihiro Togashi</p>
                        </div>

                        <div class="col">
                            <p iod="start-year7">Year of publish: 1998</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character7"
                                class="custom-select">
                                <option value="Gon Freecss">Gon Freecss</option>
                                <option value="Killua Zoldyck">Killua Zoldyck</option>
                                <option value="Kurapika">Kurapika</option>
                                <option value="Leorio Paradinight">Leorio Paradinight</option>
                                <option value="Hisoka Morow">Hisoka Morow</option>
                                <option value="Chrollo Lucilfer">Chrollo Lucilfer</option>
                                <option value="Meruem">Meruem</option>
                                <option value="Isaac Netero">Isaac Netero</option>
                                <option value="Ging Freecss">Ging Freecss</option>


                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-hunter">Add to favourite</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title8">
                        Bleach
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img
                                src="../../css/images/Bleach-Awakened-Souls-feature-image.jpg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author8">Author: Tite Kubo</p>
                        </div>

                        <div class="col">
                            <p id="start-year8">Year of publish: 2001</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character8"
                                class="custom-select">
                                <option value="Ichigo Kurosaki">Ichigo Kurosaki</option>
                                <option value="Orihime Inoue">Orihime Inoue</option>
                                <option value="Renji Abarai">Renji Abarai</option>
                                <option value="Rukia Kuchiki">Rukia Kuchiki</option>
                                <option value="Uryū Ishida">Uryū Ishida</option>
                                <option value="Yasutora Sado">Yasutora "Chad" Sado</option>

                                <option value="Sōsuke Aizen">Sōsuke Aizen</option>
                                <option value="Kisuke Urahara">Kisuke Urahara</option>


                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-bleach">Add to favourite</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title9">
                        Death note
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img src="../../css/images/1-3.jpg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author9">Author: Tsugumi Ohba</p>
                        </div>

                        <div class="col">
                            <p id="start-year9">Year of publish: 2003</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character9"
                                class="custom-select">
                                <option value="Light Yagami">Light Yagami</option>
                                <option value="L Lawliet">L Lawliet</option>
                                <option value="Ryuk">Ryuk</option>
                                <option value="Misa Amane">Misa Amane</option>
                                <option value="Near">Near</option>
                                <option value="Mello">Mello</option>
                                <option value="Teru Mikami">Teru Mikami</option>


                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-death-note">Add to favourite</a>
                    </div>
                </div>
            </div>


        </div>




        <div class="row mt-2 mb-5">
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title10">
                        Black clover
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img src="../../css/images/Slider_-_Main.png"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author10">Author: Yūki Tabata</p>
                        </div>

                        <div class="col">
                            <p id="start-year10">Year of creation: 2015</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character10"
                                class="custom-select">
                                <option value="Asta">Asta</option>
                                <option value="Yuno">Yuno</option>
                                <option value="Noelle Silva">Noelle Silva</option>
                                <option value="Julius Novachrono">Julius Novachrono</option>
                                <option value="Yami Sukehiro">Yami Sukehiro</option>
                                <option value="Finral Roulacase">Finral Roulacase</option>
                                <option value="Magna Swing">Magna Swing</option>
                                <option value="Luck Voltia">Luck Voltia</option>
                                <option value="Gauche Adlai">Gauche Adlai</option>
                                <option value="Charmy Papittoson">FrCharmy Papittosonnky</option>
                                <option value="Vanessa Enoteca">Vanessa Enoteca</option>
                                <option value="Grey">Grey</option>
                                <option value="Gordon Agrippa">Gordon Agrippa</option>
                                <option value="Zora Ideale">Zora Ideale</option>
                                <option value="Henry Legolant">Henry Legolant</option>

                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-clover">Add to favourite</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title11">
                        Sword art online
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img
                                src="../../css/images/5e1f777c3445b1b5dfa73f7625fdf5ee1553806234_full.png"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author11">Author: Reki Kawahara</p>
                        </div>

                        <div class="col">
                            <p id="start-year11">Year of publish: 2002</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character11"
                                class="custom-select">
                                <option value="Kirito">Kirito</option>
                                <option value="Asuna">Asuna</option>
                                <option value="Leafa">Leafa</option>
                                <option value="Sinon">Sinon</option>
                                <option value="Yui">Yui</option>
                                <option value="Klein">Klein</option>
                                <option value="Agil">Agil</option>
                                <option value="Sillica">Sillica</option>
                                <option value="Lisbeth">Lisbeth</option>
                                <option value="Yuuki">Yuuki</option>


                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-sword-art">Add to favourite</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="favourite-card" style="width: 26rem; height: 42rem;">
                    <div class="card-header" id="anime-title12">
                        Shingeki no Kyojin
                    </div>

                    <div class="card-body" id="favourite-anime-card-body">
                        <div class="col pb-1" id="anime-pic"><img
                                src="../../css/images/attack-on-titan-season-3-part-2-visual-1162021-1280x0.jpeg"
                                class="card-img-top ml-2">
                        </div>

                        <div class="col">
                            <p id="author12">Author: Hajime Isayama</p>
                        </div>

                        <div class="col">
                            <p id="start-year12">Year of publish: 2009</p>
                        </div>

                        <div class="col">

                            <label for="select-city">Chose character:</label> <select id="select-character12"
                                class="custom-select">
                                <option value="Eren Yeager">Eren Yeager</option>
                                <option value="Mikasa Ackerman">Mikasa Ackerman</option>
                                <option value="Armin Arlert">Armin Arlert</option>
                                <option value="Reiner Braun">Reiner Braun</option>
                                <option value="Sasha Blouse">Sasha Blouse</option>
                                <option value="Ymir">Ymir</option>
                                <option value="Erwin Smith">Erwin Smith</option>
                                <option value="Hange Zoë">Hange Zoë</option>
                                <option value="Levi Ackerman">Levi Ackerman</option>

                            </select>
                        </div>

                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary" id="add-favourite-titan">Add to favourite</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
    <div class="col">

        <div class="card" id="favourite-anime-template">
            <div class="card-header">Your favourites</div>
            <div class="card-body">
                <ul id="comments-list" class="list-group">


                </ul>
            </div>
        </div>

    </div>

    <ul class="list-group d-none" id="comment-template">
        <li class="list-group-item">
            <div class="row" id="template-output">

                <ul>
                    <p class="title-info"></p>
                    <p class="author-info"></p>
                    <p class="start-year-info"></p>
                    <p class="favourite-character-info"></p>

                    <button data-toggle="modal" data-target="#confirmDeleteModal" type="button"
                        class="btn btn-danger remove-item">Remove from favourites</button>


                </ul>


            </div>
        </li>
    </ul>


    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Unfavourite this anime</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">You used to like this anime a lot,are you sure about that?!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="confirm-delete" type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../../js/favAnime.js"></script>

</body>

</html>